<h1>Campaign 2 Form Information:</h1>

<strong>Name:</strong> <%= @campaign2.full_name %><br>
<strong>Company:</strong> <%= @campaign2.company %><br>
<strong>Email:</strong> <%= @campaign2.email %><br>
<strong>Phone:</strong> <%= @campaign2.phone %><br>
<strong>Quantity:</strong> <%= @campaign2.quantity %><br>
<strong>Capacity:</strong> <%= @campaign2.capacity %><br>
<strong>Style:</strong> <%= @campaign2.style_type %><br>
<strong>Notes:</strong> <%= @campaign2.notes %>
