<h1>Contact Form Information:</h1>

<strong>Name:</strong> <%= @contact.full_name %><br>
<strong>Company:</strong> <%= @contact.company %>
<strong>Email:</strong> <%= @contact.email %>
<strong>Phone:</strong> <%= @contact.phone %>
<strong>Quantity:</strong> <%= @contact.quantity %>
<strong>Capacity:</strong> <%= @contact.capacity %>
<strong>Notes:</strong> <%= @contact.notes %>
